.notfound-p {
    min-height: 100%;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        position: relative;
        &:before {
            content: "";
            width: 108%;
            max-width: 2000px;
            height: 500px;
            background: url(../img/svg/404-bg.svg) top right / auto 100% no-repeat;
            position: absolute;
            left: 53%;
            transform: translateX(-50%);
            pointer-events: none;
            z-index: -1;
        }
    }
    .sec-top {
        max-width: 1430px;
        margin-bottom: 60px;
    }
    .links-list {
        margin-bottom: 0;
        ul {
            li {
                a {
                    font-size: 36px;
                    padding: 24px;
                }
            }
        }
    }
    @media (min-width: $bp1) {
        .sec-top {
            h1.h2 {
                font-size: 80px;
            }
        }
    }
    @media (max-width: $bp1) {
        padding-bottom: 60px;
        .container {
            &:before {
                height: 350px;
            }
        }
        .links-list {
            ul {
                li {
                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    @media (max-width: $bp2) {
        .container:before {
            content: none;
        }
        .sec-top {
            max-width: 800px;
            margin-bottom: 30px;
        }
    }
    @media (min-width: $bp3) {
        ul {
            margin: -10px;
            li {
                margin: 10px;
            }
        }
    }
    @media (max-width: $bp3) {
        .sec-top {
            max-width: 560px;
        }
    }
    @media (max-width: $bp4) {
        padding-bottom: 30px;
    }
    @media (max-width: $bp7) {
        .links-list {
            ul li a {
                font-size: 28px;
            }
        }
    }
}
