@font-face {
    font-family: "InterTight";
    font-weight: 400;
    font-style: normal;
    src:
        local("InterTight Regular"),
        local("InterTight-Regular"),
        url("../fonts/InterTight-Regular.woff2") format("woff2"),
        url("../fonts/InterTight-Regular.woff") format("woff"),
        url("../fonts/InterTight-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "InterTight";
    font-weight: 500;
    font-style: normal;
    src:
        local("InterTight Medium"),
        local("InterTight-Medium"),
        url("../fonts/InterTight-Medium.woff2") format("woff2"),
        url("../fonts/InterTight-Medium.woff") format("woff"),
        url("../fonts/InterTight-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "InterTight";
    font-weight: 600;
    font-style: normal;
    src:
        local("InterTight SemiBold"),
        local("InterTight-SemiBold"),
        url("../fonts/InterTight-SemiBold.woff2") format("woff2"),
        url("../fonts/InterTight-SemiBold.woff") format("woff"),
        url("../fonts/InterTight-SemiBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "InterTight";
    font-weight: 700;
    font-style: normal;
    src:
        local("InterTight Bold"),
        local("InterTight-Bold"),
        url("../fonts/InterTight-Bold.woff2") format("woff2"),
        url("../fonts/InterTight-Bold.woff") format("woff"),
        url("../fonts/InterTight-Bold.ttf") format("truetype");
    font-display: swap;
}
