.services {
	.sec-top {
		max-width: 1050px;
	}
	&__cols {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
	@media (min-width: $bp4) {
		&__cols {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			.col-services:last-child {
				grid-column-end: span 2;
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 20px;
			}
		}
	}
	@media (max-width: $bp2) {
		.sec-top {
			max-width: 830px;
		}
	}
	@media (max-width: $bp3) {
		.sec-top {
			max-width: 600px;
		}
		&__cols {
			gap: 10px;
		}
	}
}
.col-services {
	h2,
	.h2,
	&__content {
		margin-bottom: 20px;
	}
	li {
		color: var(--dark-gray-color);
		margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__about {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__link {
		margin-top: auto;
	}
	&__img {
		img {
			width: 100%;
			border-radius: 40px;
		}
	}
	@media (max-width: $bp1) {
		&__img img {
			border-radius: 30px;
		}
	}
	@media (max-width: $bp2) {
		h2,
		.h2 {
			font-size: 32px;
		}
	}
	@media (max-width: $bp3) {
		h2,
		.h2 {
			font-size: 24px;
		}
		li {
			margin-bottom: 16px;
		}
	}
	@media (max-width: $bp4) {
		position: relative;
		border-radius: 20px;
		h2,
		.h2 {
			margin-bottom: 0;
		}
		.link-btn {
			width: 30px;
			height: 30px;
			padding: 8.5px;
		}
		&__about {
			padding-right: 50px;
		}
		&__content,
		&__img {
			display: none;
		}
		&__about {
			padding-right: 40px;
		}
		&__link {
			padding: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	@media (max-width: $bp7) {
		h2,
		.h2 {
			font-size: 21px;
		}
	}
}
.item-service {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
	gap: 20px;
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
	.link-btn {
		margin-top: auto;
	}
	.media-cover {
		padding-top: 68.21%;
		border-radius: 40px;
	}
	&__main {
		max-width: 802px;
		display: flex;
		flex-direction: column;
		h3,
		.h3,
		.h2,
		p {
			margin-bottom: 20px;
		}
		p {
			color: var(--dark-gray-color);
			line-height: 1.4;
		}
	}
	@media (max-width: $bp1) {
		grid-template-columns: 1.45fr 1fr;
		.media-cover {
			padding-top: 125%;
			border-radius: 30px;
		}
		&__main {
			max-width: 630px;
		}
	}
	@media (max-width: $bp3) {
		&__main {
			h3,
			.h3 {
				font-size: 24px;
			}
		}
	}
	@media (max-width: $bp4) {
		margin-bottom: 10px;
		display: block;
		position: relative;
		.media-cover {
			display: none;
		}
		.link-btn {
			width: 30px;
			height: 30px;
			padding: 8.5px;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		&__main {
			max-width: 802px;
			display: flex;
			flex-direction: column;
			h3,
			.h3,
			.h2,
			p {
				margin-bottom: 10px;
			}
			h3,
			.h3 {
				min-height: 30px;
			}
		}
	}
}

